<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set css %}{% include "main.css" %}{% endset -%}
    <style>{{ css | cssmin | safe }}</style>
    <link rel="canonical" href="https://setyourwatchby.netlify.com{{ page.url }}" />
    {%- if keepfresh %}
    <meta http-equiv="refresh" content="30">
    {%- endif %}
    {%- if title %}
    <title>{{title}}</title>
    {%- else -%}
    <title>CURRENT_TIME</title>
    {% endif -%}
  </head>
  <body>
    <div class="content">
    {{ content | safe }}
    </div>
    <div class="deets">
      <p>
        <a href="/">Set your watch by Netlify</a><br />
        <a href="https://github.com/philhawksworth/html-time">Made</a> by <a href="https://twitter.com/philhawksworth">Phil</a> for some <a href="/why">bizarre reason</a>.
      </p>
    </div>
  </body>
</html>
