<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
    <div class="deets">
      <p>The time according to Netlify ({{ zone | zone }} ).<br /> <a href="https://github.com/philhawksworth/html-time">Made</a> by <a href="https://twitter.com/philhawksworth">Phil</a> for a giggle.</p>
    </div>
  </body>
</html>
