<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="canonical" href="https://setyourwatchby.netlify.com{{ page.url }}" />
    {%- if keepfresh %}
    <meta http-equiv="refresh" content="30">
    {%- endif %}
    {%- if zone %}
    <title>{{ zone | time }}</title>
    {%- else -%}
    <title>{{ title }}</title>
    {% endif -%}
  </head>
  <body>
    <div class="content">
    {{ content | safe }}
    </div>
    <div class="deets">
      <p>Set your watch by Netlify
      {% if zone %}(<a href="/timezones">{{ zone }}</a>){% endif %}
      <br /><a href="https://github.com/philhawksworth/html-time">Made</a> by <a href="https://twitter.com/philhawksworth">Phil</a> for some <a href="/why">bizarre reason</a>.</p>
    </div>
  </body>
</html>
