* {
  padding-left: 0;
  margin-left: 0;
}

body {
  background-color: #25232b;
  color: #ddd;
  padding: 2em;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  padding-bottom: 0.2em;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,0.6);
  border-bottom-width: 1px;
}
a:hover,
a:focus {
  border-bottom-color: #beff46;
}

.navigation li {
  list-style: none;
  display: inline;
  margin-right: 0.6em;
}

ol li {
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #beff46;
  list-style-position: inside;
  padding-left: 1em;
  margin-left: 0;
}

hr {
  border-style: none;
  height:20px;
  background-color: rgba(255,255,255,0.05);
}

input {
  display: block;
  margin-top: 0.2em;
  margin-bottom: 1em;
  font-size: 1.5em;
}
