---
layout: base.njk
title: timezones
---
<div class="prose">
  <h1>The time where you are</h1>
  <p>
    This site is served from <a href="https://www.netlify.com">Netlify</a>'s intelligent CDN which can detect the country you are browsing from and quietly route you to the appropriate destination in this site.
  </p>
  <p>
    Some countries have more than one timezone, but you can go directly to the timezone you are interested in (or look at your watch).
  </p>
  <p>
    What? Your locale is not here? The outrage! You can always <a href="{{ pkg.repository.url }}">add it with a pull request</a>.
  </p>
  <ul>
  {% for zone in timezones %}
    <li><a href="/{{zone}}">{{ zone }}</a></li>
  {% endfor %}
  </ul>
</div>


