---
layout: base.njk
title: Why make this?
---
<div class="prose">
  <h1>But... but why?</h1>
  <h2>tl;dr:</h2>
  <p>
    Zach Leatherman <em>made</em> me do it.
  </p>
  <blockquote>
    <p>
      free side project idea: HTML-only static site generated clock that deploys a new version to <a href="https://twitter.com/netlify">@netlify</a> every minute
    </p>
    <p>
      — <a href="https://twitter.com/zachleat/status/1020034115817680896">@zachleat</a>
    </p>
  </blockquote>

  <h2>That was then, this is now</h2>
  <p>
    Prompted by that idea by Zach, I made this site as a demonstration of how frictionless and risk-free regular automated deployments could be. It automatically redeployed every minute of every day. It has been a helpful resource for demonstrations. But as the site shows, time moves on.
  </p>
  <p>
    <a href="https://www.netlify.com/products/?utm_source=github&utm_medium=setyourwatch-pnh&utm_campaign=devex#netlify-edge-functions">Edge Handlers</a> have brought an easier and less wasteful way to do this. By modifying HTTP responses on the fly to provide dynamic content, we don't need to redeploy every minute to make a server-generated clock! And the likes of <a href="https://www.netlify.com/products/?utm_source=github&utm_medium=setyourwatch-pnh&utm_campaign=devex#more-build-features">Netlify's CI/CD and automated deploys</a> have become far more accepted as the norm, so there is less need to make this point.
  </p>
  
  <h2>Localised and modified on demand</h2>
  <p>
    Now the time you see on this site has been rendered on demand by an Edge Function. Edge Functions offer a very low latency serverless runtime at a location on the CDN geographically close to the requesting user. Very handy and still without the need to manage and maintain a server. <a href="https://github.com/philhawksworth/html-time/blob/b9722a2e532e07ada5c9e2472f38e518e2385371/netlify/edge-functions/time.ts">It's just a function</a>.
  </p>

  <h2>I miss the old way</h2>
  <p>
    Me too. It was a bit of fun. But it was wasteful to keep it alive forever for a demo. Still, thanks to how <a href="https://www.netlify.com/products/?utm_source=github&utm_medium=setyourwatch-pnh&utm_campaign=devex#worry-free-deployments">Netlify retains all the previous deploys</a> on unique URLs, you can still find them. <a href="https://6177423cb626b90007b2a5d1--setyourwatchby.netlify.app/">Here's the last pre-rendered view of the site from before it switched over to using an Edge Function</a>. It's still correct once a day!
  </p>

</div>



