---
layout: base.njk
pagination:
  data: timezones
  size: 1
  alias: zone
permalink: /{{ zone.location }}/index.html
keepfresh: true
---
<h1 class="time">{{ zone | time | coloncapture | safe }}</h1>
